main{
	width: 100%;
	/* height: 300vh; */
	background: #f5f5f5;
}
.shouye{
	width: 1226px;
	height: 41px;
	margin: 0 auto;
}
.shouye i{
	font-size: 12px;
	line-height: 41px;
}
.big-box{
	width: 1226px;
	height: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.big-box .left{
	width: 234px;
	background: white;
	
}
.big-box .left .dingdan{
	height: 52px;
	margin-top: 38px;
	font-size: 18px;
	line-height:52px ;
	font-weight: 400;
	margin-left: 50px;
}
.big-box .left .dingdan1{
	height: 52px;
	font-size: 18px;
	line-height:52px ;
	font-weight: 400;
	margin-left: 50px;
}
.big-box .left>ul>li{
	height: 33px;
	font-size: 14px;
	line-height:33px;
	margin-left: 50px;
}
.big-box .left>ul .wx:hover{
	color: #757575;
	cursor: pointer;
}
.big-box .left>ul .xz{
	color: #ff6700;
	cursor: pointer;
}
.big-box .right{
	width: 978px;
	height: 677px;
	background: white;
}
.big-box .right .top{
	width: 882px;
	height: 200px;
	margin:0 auto;
	margin-top:62px;
	border-bottom:1px solid #e0e0e0;
	display: flex;
}
.big-box .right .top img{
	width: 158px;
	height: 158px;
	border: 1px solid #e0e0e0;
    border-radius: 150px
}
.big-box .right .top .wenzikang1{
	width: 302px;
	height: 160px;
	margin-left: 20px;
}
.big-box .right .top .wenzikang1 h2{
    margin-top:44px;
    font-size: 24px;
    font-weight: 400;
    color: #616161;
}
.big-box .right .top .wenzikang1 i{
	margin: 0 0 10px;
    color: #b0b0b0;
	font-size: 14px;
	margin-top:5px;
	display: block;
}
.big-box .right .top .wenzikang1 span{
	font-size: 12px;
    color: #ff6700;
}
.big-box .right .top .wenzikang2{
	width: 350px;
	height: 160px;
	margin-left: 50px;
	float: right;
	position: relative;
}
.big-box .right .top .wenzikang2 .anquan{
	color: #757575;
	font-size: 14px;
	margin-top:42px;
}
.big-box .right .top .wenzikang2 .anquan i{
	color: #ff6700;
}
.big-box .right .top .wenzikang2 a{
	color: #757575;
	font-size: 14px;
	display: block;
	margin: 10px 0;
}
.big-box .right .top .wenzikang2 span{
	color: #757575;
	font-size: 14px;
}
.big-box .right .top .wenzikang2 .bangding{
	width: 120px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	color: white;
	line-height: 30px;
	background: #ff6700;
	cursor: pointer;
	border:1px solid #b0b0b0;
	position: absolute;
	bottom: 30px;
	right: 0;
}
.big-box .right .bottom{
	width: 882px;
	height: 320px;
	margin:0 auto;
	margin-top: 60px;
}
.big-box .right .bottom>ul>li{
	width:388px;
	float: left;
	margin-bottom: 60px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.big-box .right .bottom>ul>li .zuo{
	width: 100px;
	height: 100px;
}
.big-box .right .bottom>ul>li .zuo img{
	width: 100%;
	height: 100%;
}
.big-box .right .bottom>ul>li .you{
	width: 260px;
	height: 100px;
}
.big-box .right .bottom>ul>li .you h3{
	display: block;
	margin-top: 24px;
}
.big-box .right .bottom>ul>li .you h3 i{
	color: #ff6700;
}
.big-box .right .bottom>ul>li .you span{
	margin-top: 5px;
	font-size: 14px;
	cursor: pointer;
}
.big-box .right .bottom>ul>li .you span:hover{
	color: #ff6700;
}





































