/* 导航开始 */
.dakuang{
	width:100vw;
	height:100px;
	border-bottom: 2px solid #ff6700;
}
.head{
	width:1226px;
	height:100px;
	margin: 0 auto;
}
.head-left{
	float: left;
	height: 100%;
}
.head-left .logo{
	width: 55px;
	height: 55px;
	background: #ff6700;
	margin-top: 22.5px;
	float: left;
}
.head-left .logo img{
	margin-top: 3px;
	margin-left: 3px;
}
.head-left h2{
	font-size: 28px;
    line-height: 48px;
    font-weight: normal;
    color: #424242;	
	float: left;
	line-height:100px;
	margin-left: 46px;
}
.head-left i{
	font-size: 14px;
	line-height: 120px;
    margin-left: 15px;
	color: #757575;
}
.head-right{
	float: right;
	height: 100%;
	display: flex;
	align-items: center;
}
.head-right .twenzi{
	height: 12px;
	float: left;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
	color: #757575;
}
.head-right .tline{
	height: 12px;
	float: left;
	margin:0 7px;
	text-align: center;
	line-height: 40px;
	font-size: 10px;
	color:rgba(0,0,0,0.5);
}
/* 导航结束 */
/* 内容 */
.page-main{
	padding-top: 38px;
    padding-bottom: 38px;
	background: #f5f5f5;
}
.conn{
	width: 1226px;
	margin-left: auto;
	margin-right: auto;
}
.list-head{
	width: 1226px;
	height: 70px;
    line-height: 70px;
    padding-right: 26px;
    color: #424242;
	background: #fff;
	box-sizing: border-box;

}
.list-head .col-check{
	width: 110px;
	height: 70px;
	float: left;
}
.col-check .icon-box{
	color: #fff;
    background-color: #ff6700;
    line-height: 18px;
    border: 1px solid #e0e0e0; 
    margin-left: 24px;
    font-size: 20px;
   text-align: center;
    cursor: pointer; 
}
.list-head .col-img{
	width: 120px;
	float: left;
	position: relative;
}
.list-head .col-img i{
	font-size: 30px;
	position: absolute;
	top: 70px;
	left: 20px;
	color: #e0e0e0;
}
.list-head .col-name{
	width: 380px;
	float: left;
}
.list-head .col-price{
	float: left;
	width: 75px;
    padding-right: 84px;
    text-align: right;
    color: #424242;
}
.list-head .col-num{
	float: left;
    text-align: center;
    color: #424242;
	width: 150px;
}
.list-head .col-total{
	float: left;
    width: 120px;
    padding-right: 81px;
    text-align: right;
}
.list-head .col-action{
	width: 80px;
    text-align: center;
	float: left;
}
 
.item-box{
	width: 1226px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	background: #fff;
}
.item-table1{
	width: 1226px;
	height: 200px;
	padding: 15px 26px 15px 0;
	border-top: 1px solid #e0e0e0;
	position: relative;
}
.item-table1 .mifenka{
	width: 1100px;
	height: 97px;
	background: #e0e0e0;
	position: absolute;
	top: 123px;
	left:100px;
	display: flex;
}
.item-table1 .mifenka .tu{
	width: 60px;
	height: 60px;
	margin: 18px;
}
.item-table1 .mifenka .box1{
	width: 380px;
	height: 97px;
	margin-left: 40px;
}
.item-table1 .mifenka .box1 .zeng{
	width: 60px;
	height: 18px;
	background: #e53935;
	margin-top: 20px;
	position: relative;
}
.item-table1 .mifenka .box1 .zeng i{
	color: white;
	font-size: 12px;
	position: absolute;
	top: -25px;
	left:18px ;
}
.item-table1 .mifenka .box1 .text{
	height: 40px;
	font-size: 18px;
	margin-top: -16px;
}
.item-table1 .mifenka .box2{
	width: 200px;
	height:97px ;
	margin-left: 130px;
	text-align: center;
	line-height: 97px;
}
.col-name .shop-name{
	line-height: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.num-box{
	width: 148px;
    height: 38px;
    border: 1px solid #e0e0e0;
    text-align: center;
    background-color: #fff;
    position: relative;
    zoom: 1;
}
.num-box>span{
	float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #757575;
    font-size: 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.jisuan{
	float: left;
    width: 72px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border-width: 0;
    color: #424242;
    font-size: 16px;
    text-align: center;
}
.xia-box{
	width: 1226px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
    text-align: right;
    background-color: #fff;
    -webkit-transition: background .3s ease, top .3s ease;
    transition: background .3s ease, top .3s ease;
    position: relative;
}
.xia-box-le{
	float: left;
}
.back-shop{
	line-height: 50px;
    margin-left: 32px;
}

.content3{
	margin-top: 100px;
	width: 1226px;
	margin-left: auto;
	margin-right: auto;
}
.neirong3-bottem{
	width: 1226px;
    margin-left: auto;
    margin-right: auto;
}
.neirong3-bottem-tu{
	width: 1226px;
}
.neirong3-top{
	position: relative;
    margin: 0;
    height: 50px;
    font-size: 30px;
    font-weight: 400;
    color: #757575;
    border-top: 1px solid #e0e0e0;
}
.neirong3-top span{
	position: absolute;
    top: -20px;
    left: 372px;
    height: 40px;
    width: 482px;
    line-height: 40px;
    text-align: center;
    display: block;
    background-color: #f5f5f5;
}
.neirong3-bottem-tu{
	width: 1226px;
	margin: 0 auto;
	overflow: hidden;
}
.xm-couse{
	/* width: 2480px; */
    margin-left: 0px;
	list-style-type: none;
}
.xm-couse li{
	float: left;
    width: 234px;
	margin-right: 14px;
	margin-bottom: 14px;
    height: 300px;
    background-color: #fff;
    text-align: center;
}
.xm-couse .aaa{
	margin-right: 0;
}
.xm-couse .bbb{
	margin-right: 0;
}
.xm-couse-tu{
	padding: 40px 0 15px;
    height: 145px;
}
.xm-couse-tu img{
	width: 140px;
	height: 140px;
}
.xm-couse-name{
	margin-bottom: 10px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.xm-couse-price{
	margin-bottom: 10px;
    color: #ff6700;
}
.xm-couse-pingjia{
	 color: #757575;
}
.jixugouwu-box{
	width: 1226px;
	height: 50px;
	margin: 0 auto;
	background: #fff;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.jixugouwu-box .zuo{
	width: 285px;
	height: 50px;
}
.jixugouwu-box .zuo .jixu{
	line-height: 50px;
    margin-left: 32px;
	font-size: 14px;
	float: left;
}
.jixugouwu-box .zuo .line{
	float: left;
	line-height: 50px;
	margin-left: 20px;
	color: rgba(0,0,0,0.2);
}
.jixugouwu-box .zuo .xuanze{
	font-size: 14px;
	line-height: 50px;
	float: right;
}
.jixugouwu-box .zuo .xuanze i{
	color: #ff6700;
}
.jixugouwu-box .you{
	width: 345px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}
.jixugouwu-box .you .left{
	width: 120px;
	height: 50px;
	line-height: 50px;
}
.jixugouwu-box .you .left .text{
	font-size: 14px;
	line-height: 50px;
	color: #FF6700;
}
.jixugouwu-box .you .left .text i{
	font-size: 26px;
}
.jixugouwu-box .you .right{
	width: 200px;
	height: 50px;
	line-height: 50px;
	background: #FF6700;
	font-size: 18px;
	color: white;
	text-align: center;
}
/* 内容结束 */
.tuijie{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tuijie .line{
	width: 370px;
	height: 1px;
	background: rgba(0,0,0,0.1);
}
.tuijie .wenzi{
	font-size: 30px;
    font-weight: 400px;
    color: #757575;
}

/* 为你推荐开始 */
.wntj{
	width: 1226px;
	height: 300px;
	margin: 0 auto;
	margin-top: 10px;
}
.wntj-bottom{
	width: 100%;
	height:340px;
	overflow: hidden;
}
.wntj-bottom>ul{
	width: calc(1226px * 3);
	height: 100%;
	text-align: center;
}

.wntj-bottom>ul>li{
	width: 234px;
	height: 300px;
	background: #ffffff;
	float: left;
	margin-left: 14px;
	text-align: center;
	position: relative;
}
.wntj-bottom>ul>li img{
	width: 140px;
	height: 140px;
	margin-top: 30px;
}
.wntj-bottom  .tu1-text{
	font-size: 14px;
	margin:10px 15px 0 15px;
	overflow: hidden;
	text-overflow:ellipsis ;
	white-space: nowrap;
}
.wntj-bottom .tu1-yuan{
	color: red;
	margin: 10px 15px 0 15px;
}
.wntj-bottom .haopin{
	font-size: 14px;
	margin-top: 10px;
}
.wntj-bottom>ul>li:hover .yc-list{
	display: block;
}
.wntj-bottom>ul>li .yc-list{
	width: 122px;
	height: 30px;
	background:#fff;
	display: none;
	border:1px solid #ff6700;
	position: absolute;
	top: 240px;
	left:50px ;
	color:#ff6700;
}
.wntj-bottom>ul>li .yc-list span{
	font-size: 12px; 
	line-height: 30px;
	margin:0 30px;
}
.wntj-bottom>ul>li .yc-list:hover{
	background:#ff6700;
	color: #fff;
}
.wntj-bottom .A{
	margin-left: 0;
}
/* 为你推荐结束 */
.kong{
	width: 100vw;
	height: 80px;
	background: #f5f5f5;
}