main{
	width: 100%;
	background: #f5f5f5;
}
.shouye{
	width: 1226px;
	height: 41px;
	margin: 0 auto;
}
.shouye i{
	font-size: 12px;
	line-height: 41px;
}
.big-box{
	width: 1226px;
	height: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.big-box .left{
	width: 234px;
	background: white;
	
}
.big-box .left .dingdan{
	height: 52px;
	margin-top: 38px;
	font-size: 18px;
	line-height:52px ;
	font-weight: 400;
	margin-left: 50px;
}
.big-box .left .dingdan1{
	height: 52px;
	font-size: 18px;
	line-height:52px ;
	font-weight: 400;
	margin-left: 50px;
}
.big-box .left>ul>li{
	height: 33px;
	font-size: 14px;
	line-height:33px;
	margin-left: 50px;
}
.big-box .left>ul .wx:hover{
	color: #757575;
	cursor: pointer;
}
.big-box .left>ul .xz{
	color: #ff6700;
	cursor: pointer;
}
.big-box .right{
	width: 978px;
	height: 370px;
	background: white;
}
.big-box .right .top{
	width: 882px;
	height: 68px;
	margin: 0 auto;
	margin-top: 38px;
	font-size: 30px;
    font-weight: 400;
    line-height: 68px;
    color: #757575;
}
.big-box .right .bottom{
	width: 882px;
	height: 230px;
	margin: 0 auto;
	display: flex;
}
.big-box .right .bottom .box1{
	width: 270px;
	height: 180px;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	position: relative;
	transition: all 0.5s;
}
.big-box .right .bottom .box1:hover{
	border: 1px solid rgba(0,0,0,0.3);
}
.big-box .right .bottom .box1:hover i{
	color: rgba(0,0,0,0.3);
}
.big-box .right .bottom .box1 i{
	font-size: 30px;
	color: #e0e0e0;
	position: absolute;
	top: 60px;
	left: 120px;
}
.big-box .right .bottom .box1 .tianjia{
	font-size: 14px;
	color: rgba(0,0,0,0.7);
	position: absolute;
	top: 93px;
	left: 102px;
}
.big-box .right .bottom .box2{
	width: 270px;
	height: 180px;
	border: 1px solid #e0e0e0;
	margin-left: 20px;
	position: relative;
	transition: all 0.5s;
}
.big-box .right .bottom .box2:hover{
	border: 1px solid rgba(0,0,0,0.3);
}
.big-box .right .bottom .box2 .gt{
	margin: 0 25px;
}
.big-box .right .bottom .box2 .mingzi{
	font-size: 18px;
    color: #333;
	margin-top: 22px;
	margin-bottom: 22px;
}
.big-box .right .bottom .box2 .shoujihao{
	font-size: 14px;
	color: #757575;
	margin-bottom: 5px;
}
.big-box .right .bottom .box2 .address{
	font-size: 14px;
	color: #757575;
}
.big-box .right .bottom .box2 .xiugai-shanchu{
	color: #ff6700;
	font-size: 14px;
	position: absolute;
	right: 20px;
	bottom: 10px;
	display: none;
}
.big-box .right .bottom .box2:hover .xiugai-shanchu{
	display: block;
}
.mask{
	width: 1349px;
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	opacity: 0.8;
	display: none;
}
.Biaoge{
	width:660px;
	height: 460px;
	background: white;
	position: fixed;
	top: -550px;
	left: 344px;
	z-index: 520;
}
.Biaoge .top{
	width: 660px;
	height: 60px;
	margin:0 auto;
	background:#f5f5f5;
	line-height: 60px;
	display: flex;
	justify-content: space-between;
}
.Biaoge .top .jaddress{
	font-size: 18px;
    font-weight: 400;
    color: #424242;
	margin-left: 40px;
}
.Biaoge .top .ic-box{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	margin-top: 15px;
	background: #f5f5f5;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
}
.Biaoge .top .ic-box:hover{
	background: red;
	color: white;
}
.Biaoge .top .ic-box i{
	font-size: 30px;
	display: block;
	position: absolute;
	top: -12px;
}
.Biaoge .bottom{
	width: 600px;
	height: 254px;
	margin: 0 auto;
	margin-top: 31px;
	box-sizing: border-box;
}
.Biaoge .bottom input{
	width: 280px;
	height: 40px;
	margin-top: 10px;
	margin-right: 10px;
	outline: none;
	border: 1px solid #b0b0b0;
}
.Biaoge .bottom input:hover{
	border-color:#e0e0e0;
}
.Biaoge .bottom .xuanze input{
	width: 580px;
	height: 40px;
	margin-top: 10px;
	cursor: pointer;
}
.Biaoge .bottom .xuanze i{
	font-size: 30px;
	position: absolute;
	top: 160px;
	right: 50px;
}
.Biaoge .bottom .xiangxidizhi input{
	width: 580px;
	height: 64px;
	margin-top: 10px;
	position: relative;
}
.Biaoge .bottom .xiangxidizhi i{
	position: absolute;
	top: 215px;
	left: 46px;
	font-size: 14px;
	color: #424242;
}
.Biaoge .di{
	width: 660px;
	height: 80px;
	margin:0 auto;
	background:#f5f5f5;
	margin-top: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Biaoge .di .anniu{
	width: 160px;
	height: 40px;
	background: red;
	text-align: center;
	line-height: 40px;
}
.Biaoge .di .anniu1{
	margin-right: 20px;
	background: #ff6700;
	color: white;
	border-color: #ff6700;
}
.Biaoge .di .anniu2{
	margin-right: 20px;
	background: #b0b0b0;
	border-color: #b0b0b0;
	color: white;
}






