/* 头部开始 */
.daohang {
	width: 100%;
	height: 40px;
	background: #333;
}
.on{
	width: 1226px;
	height: 100%;	
	margin: 0 auto;
}
.on-left{
	height: 40px;
	float: left;
}
.left-text{
	height: 12px;
	float: left;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	color:#b0b0b0;
}
.left-text:hover{
	color: white;
}
.left-line{
	height: 12px;
	float: left;
	margin:0 7px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	color:rgba(0,0,0,0.5);
}
.on-right{
	height: 100%;
	float: right;
}
.right-che{
	color:#b0b0b0;
	width: 121px;
	height: 40px;
	background: #424242;
	line-height: 40px;
	float: right;
	text-align: center;
	margin-left:20px;
	position: relative;
}
.right-che:hover .xl-list{
	display: block;
	transform: translateY(-80px);
	box-shadow:0 0 5px 0.5px rgba(0,0,0,0.5);
}
.right-che .xl-list{
	width: 318px;
	height: 100px;
	background: white;
	font-size: 12px;
	position: absolute;
	right:0px;
	color: black;
	top: 120px;
	display: none;
	line-height: 100px;
	z-index: 1;
}
.right-che:hover{
	background: white;
	color:#ff6700;
}
.right-twenzi{
	height: 12px;
	float: left;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
	color:#b0b0b0;
}
.right-twenzi:hover{
	color: white;
}
.right-tline{
	height: 12px;
	float: left;
	margin:0 7px;
	text-align: center;
	line-height: 40px;
	font-size: 10px;
	color:rgba(0,0,0,0.5);
}
/* 头部结束 */
/* 导航开始 */
.head{
	width: 100%;
	height: 96px;
	background: white;
	border-bottom: 1px solid white;
}
.headbox{
	width:1226px;
	height:96px;
	margin: 0 auto;
}
.head-left{
	float: left;
	height: 100%;
}
.head-left .logo{
	width: 55px;
	height: 55px;
	background: #ff6700;
	margin-top: 22.5px;
	float: left;
}
.head-left .logo img{
	margin-top: 3px;
	margin-left: 3px;
}
.list-text{
	height: 100%;
	float: left;
	margin-left: 200px;
}
.list-text>i{
	float: left;
	line-height:96px;
	padding: 0px 10px;
	cursor: pointer;
	font-size: 16px;
	color: #333;
}
.list-text span:hover{
	color:#ff6700;
}
.list-text>i:hover{
	color:#ff6700;
}
.head-right{
	float: right;
	height: 100%;
}
.sousuo-box{
	width: 296px;
	height: 50px;
	margin-top: 25px;
	border: 1px solid #E0E0E0;
	box-sizing:border-box;
}
.sousuo{
	width: 244px;
	height: 48px;
	float: left;
	border-right: 1px solid #E0E0E0;
	box-sizing: border-box;
	position: relative;
}
.sousuo input{
	width: 243px;
	height: 100%;
	border: none;
	outline:none;
	padding-left: 20px;
	box-sizing: border-box;
}
.sousuo input:focus .sousuo-neirong span{
	display: none;
}
.sousuo .sousuoxiala{
	width: 245px;
	height: 302px;
	background: white;
	border: 1px solid red;
	box-sizing: border-box;
	position: absolute;
	top:48px;
	left: -1px;
	z-index: 30;
	display: none;
}
.sousuo .sousuoxiala li{
	margin-bottom: 9px;
	margin-left:10px;
	margin-top:9px;
	font-size: 14px;
}
.sousuo .sousuoxiala li span{
	float: right;
	font-size: 12px;
	margin-right: 10px;
	color:rgba(0,0,0,0.4);
}
.sousuo-neirong{
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	height: 24px;
}
.sousuo-neirong span{
	font-size: 12px;
	color: #8c8c8c;
	background: #eee;
	padding: 3px;
}
.sousuo-neirong span:hover{
	background:#ff6700;
	color: white;
}
.sousuo-neirong .zhongjian{
	margin: 0 10px;
}
.sousuo-icon{
	width: 50px;
	height: 48px;
	float: left;
	text-align: center;
	line-height: 48px;
	font-size: 30px;
}
.sousuo-icon:hover{
	background:#ff6700 ;
	color:white ;
}
.daohangtuijian{
	width: 100%;
	height: 0px;
	background: white;
	border-top: 1px solid #E0E0E0;
	box-shadow: 0px 1px 2px rgb(0,0,0,0.2);
	z-index: 35;
	transition: all 0.3s;
	position: absolute;
	top: 135px;
	left: 0;
}
.daohangtuijian ul{
	width: 1226px;
	height: 0px;
	margin: 0 0 auto 62px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
 .daohangtuijian ul li{
	width: 200px;
	height: 230px;
	float: left;
	position: relative;
}
 .daohangtuijian ul li img{
	width: 160px;
	height:110px;
	margin-top: 50px;
	margin-left: 20px;
}
.daohangtuijian ul li .mingzi{
	text-align: center;
	font-size: 14px;
	margin-top: 8px;
}
.daohangtuijian ul li .jiage{
	text-align: center;
	font-size: 12px;
	color: #FF6700;
	margin-top: 4px;
}
 .daohangtuijian ul li .xinping{
	width: 66px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	color: #FF6700;
	font-size: 12px;
	border: 1px solid #FF6700;
	position: absolute;
	top: 0;
	left: 65px;
}
 .daohangtuijian ul span{
	width: 1px;
	height: 100px;
	margin-top: 50px;
	padding: 0 0;
	border-right: 1px solid #E0E0E0;
	float: left;
}
/* 导航结束 */
/* 轮翻开始 */
.lunfan{
	width: 1226px;
	height: 460px;
	background: red;
	margin: 0 auto;
	position: relative;
	margin-top: 10px;
}
.lunfan-box{
	width: 1226px;
	height: 460px;
	background: yellow;
	margin: 0 auto;
	position: absolute;
}
.lunfan-img-box{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.lunfan-img-box>ul>li{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top:0;
	opacity: 0;
}
.lunfan-img-box>ul .active{
	opacity: 1;
	z-index: 5;
}
.lunfan-img-box>ul>li>img{
	width:100%;
	height: 100%;
	cursor: pointer;
}
.lunfan-list-box{
	width: 234px;
	height: 460px;
	background:rgba(0,0,0,0.7);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.lunfan-list-box>ul{
	width: 100%;
	height: 100%;
	padding: 20px 0;
	box-sizing: border-box;
}
.lunfan-list-box>ul>li{
	width: 100%;
	height: 42px;
	color: white;
	cursor: pointer;
}
.lunfan-list-box>ul>li:hover{
	background: orange;
}
.lunfan-list-box>ul>li:hover .got-list{
	display: block;
}
.lunfan-list-box>ul>li .got-list{
	width: 992px;
	height: 460px;
	background: white;
	position: absolute;
	left:234px;
	top: 0;
	display: none;
	font-size: 50px;
	got-list shadow:0 0 5px 5px rgba(0,0,0,0.5)
}
.lunfan-list-box>ul>li .got-list>ul>li{
	width: 248px;
	height: 76.6666px;
	float: left;
	position: relative;
}
.lunfan-list-box>ul>li .got-list>ul>li img{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 22px;
	left: 24px;
}
.lunfan-list-box>ul>li .got-list>ul>li i{
	font-size: 14px;
	line-height: 76.6666px;
	position: absolute;
	left: 80px;
	color: #000;
	transition: all 0.5s;
}
.lunfan-list-box>ul>li .got-list>ul>li i:hover{
	color: orange;
}
.lunfan-list-box .left{
	height: 100%;
	line-height: 42px;
	float: left;
	margin-left: 30px;
	font-size: 14px;
}
.lunfan-list-box .right{
	height: 100%;
	line-height: 42px;
	float: right;
	margin-right: 22px;
	font-size: 14px;
}
.lunfan-dian-box{
	width: 200px;
	height: 10px;
	position: absolute;
	right: 0;
	bottom: 30px;
	z-index: 25;
}
.lunfan-dian-box>div{
	float: right;
	margin-right: 20px;
}
.lunfan-dian-box>div>div{
	width:10px;
	height: 10px;
	background: rgba(0,0,0,0.3);
	float: left;
	margin-left: 10px;
	border-radius:50%;
	border: 2px solid rgba(255,255,255,0.2);
	box-sizing: border-box;
	cursor: pointer;
}
.lunfan-dian-box>div .hd{
	background: rgba(0,0,0,0.2);
	border: 2px solid #ff6700;
}
.lunfan-dian-box>div>div:hover{
	background: rgba(0,0,0,0.2);
	border: 2px solid rgba(0,0,0,0.4);
}
.lunfan-zuojiantou-box{
	width: 41px;
	height: 69px;
	position: absolute;
	left: 234px;
	bottom: 0px;
	top: 0;
	margin: auto;
	border-top-right-radius:5px;   						    /* //右上角变圆角 */
	border-bottom-right-radius:5px;   						/* //右下角变圆角 */
	background-image: url(../img/icon-jiantou.png);  	    /* //精灵图 用四个中的第一个不用改变 */
	cursor: pointer;
	background-position:-82px 0;
	z-index: 20;
	cursor: pointer;
}
.lunfan-zuojiantou-box:hover {
	background-image: url(../img/icon-jiantou.png); 
	background-position:0px 0;
}
.lunfan-youjiantou-box{
	width: 41px;
	height: 69px;
	position: absolute;
	bottom: 0px;
	top: 0;
	margin: auto;
	right: 0;
	border-top-left-radius:5px;								/* //左上角变圆角 */
	border-bottom-left-radius:5px;							/* //左下角变圆角 */
	background-image: url(../img/icon-jiantou.png);			/* //精灵图 用四个中的第三个 需要设置值 */
	background-position:-128px 0;							/* 	背景图片居中 */
	background-repeat: no-repeat;							/* 背景图片不重复 */
	z-index: 20;
	cursor: pointer;
}
.lunfan-youjiantou-box:hover {
	background-image: url(../img/icon-jiantou.png); 
	background-position:-42px 0;
}
/* 轮翻结束 */
/* 四个图开始 */
.F{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 40px;
}
.F-left{
	width: 234px;
	height: 170px;
	background: rgba(0,0,0,0.8);
	float: left;
}
.F-left>ul>li{
	width: 78px;
	height: 85px;
	float: left;
	position: relative;
}
.F-left>ul>li .f11{
	text-align: center;
	margin-top:20px ;
	font-size: 30px;
	line-height: 30px;
	color: rgba(255,255,255,0.7);
}
.F-left>ul>li:hover .f11{
	color: white;
}
.F-left>ul>li:hover span{
	color: white;
}
.F-left>ul>li span{
	font-size: 12px;
	color: rgba(255,255,255,0.7);
	margin: 0 15px;
}
.xian{
	background: #665e57;
	position: absolute;
}
.line1{
	width: 1px;
	height: 70px;
	top: 6px;
	left: 0;
}
.line2{
	width: 1px;
	height: 70px;
	top: 6px;
	right: 0;
}
.line3{
	width: 1px;
	height: 70px;
	top: 6px;
	left: 0;
}
.line4{
	width: 1px;
	height: 70px;
	top: 6px;
	right: 0;
}
.line5{
	width: 70px;
	height: 1px;
	left: 6px;
	bottom: 0;
}
.line6{
	width: 70px;
	height: 1px;
	left: 6px;
	bottom: 0;
}
.line7{
	width: 70px;
	height: 1px;
	left: 6px;
	bottom: 0;
}
.F-right li{
	width: 316px;
	height: 170px;
	float: left;
	background: blue;
	margin-left: 14.6666px;
}
.F-right .f1 img{
	width: 316px;
	height: 170px;
	cursor: pointer;
	transition: all 0.5s;
}
.F-right li:hover{
	box-shadow:0 5px 20px 2px rgba(0,0,0,0.1);
}
.F-right .f2 img{
	width: 316px;
	height: 170px;
	cursor: pointer;
}
.F-right .f3 img{
	width: 316px;
	height: 170px;
	cursor: pointer;

}
/* 四个图结束 */
/* 闪购开始 */
.shangou{
	width: 1226px;
	height: 438px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.shangou-top{
	width: 100%;
	height: 58px;
}
.shangou-top-text{
	font-size: 22px;
	color: #333333;
	line-height: 58px;
	float: left;
}
.shangou-top-ic{
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 17px;
	box-sizing: border-box;
	border: 1px solid #e7e7e7;
	cursor: pointer;
}
.shangou-top-ic .left{
	width: 34px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: left;
	border-right: 1px solid #e7e7e7;
}
.shangou-top-ic .left:hover{
	color: orange!important;
}
.shangou-top-ic .right{
	width: 34px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: left;
}
.shangou-top-ic .right:hover{
	color: orange!important;
}
.shangou-bottom{
	width:100%;
	height:calc(100% - 58px);
}
.shangou-bottom-left{
	width: 234px;
	height: 100%;
	background:#f1eded;
	/* margin-right: 14px; */
	float: left;
	border-top: 1px solid #e53935;
	text-align: center;	
	box-sizing: border-box;
}
.shangou-bottom-left .time{
	color: red;
	font-size: 20px;
	margin-top: 50px;
}
.shangou-bottom-left img{
	margin-top: 30px;
}
.shangou-bottom-left .end{
	margin-top: 30px;
}
.shangou-bottom-left .end-time{
	width: 168px;
	height: 46px;
	margin: 30px auto;
}
.shangou-bottom-left .end-time .time1{
	width: 46px;
	height: 46px;
	background: black;
	float: left;
	text-align: center;
	line-height: 46px;
	color:white;
	font-size: 22px;
}
.shangou-bottom-left .end-time .mh{
	width: 15px;
	height: 46px;
	float: left;
	text-align: center;
	line-height: 46px;
	font-size: 22px;
}
.shangou-bottom-right{
	width:calc(234px * 4 + 14px * 3);
	height:100%;
	float: right;
	overflow: hidden;
}
.shangou-bottom-right ul{
	width: 10000px;
	transition: all 1s;
	position: relative;
	left: 0;
}
.shangou-bottom-right ul li{
	width: 234px;
	height: 380px;
	background: rgba(0,0,0,0.02);
	float: left;
	margin-left: 14px;
	transition: all 0.5s;
}

.shangou-bottom-right .li1{
	margin-left: 0px;
	border-top: 1px solid #ffac13;
}
.ms{
	width:64px;
	height: 20px;
	background: #E53935;
	margin: 0 85px;
	color: white;
	font-size: 12px;
	text-align: center;
}
.sh{
	width: 137.67px;
	height: 16px;
	font-size: 14px;
	margin: 0 48.165px;
	padding-top: 50px;
}
.tu img{
	width: 160px;
	height: 166px;
	margin: 0px 37px 0px 37px;
}
.shangou-bottom-right li .desc{
	margin-top: 10px;
	font-size: 12px;
	color: rgba(0,0,0,0.5);
	text-align: center;
}
.shangou-bottom-right li .jiaqian{
	margin-top: 15px;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.shangou-bottom-right li .jiaqian span{
	color:#ff6700;
	margin-right: 2px;
}
.shangou-bottom-right li .jiaqian del{
	color:#b0b0b0;
}
.shangou-bottom-right .li2{
	border-top: 1px solid #83c44e;
}
.shangou-bottom-right .li3{
	border-top: 1px solid #2196f3;
}
.shangou-bottom-right .li4{
	border-top: 1px solid #e53935;
}
/* 闪购结束 */
main{
	width: 100%;
	/* height: 100%; */
	background: #f5f5f5;
}
/* 手机开始 */
.shouji{
	width: 1226px;
	height: 686px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.shouji-top{
	width: 100%;
	height: 58px;
}
.shouji-top-left{
	width: 100px;
	height: 58px;
	float: left;
}
.shouji-top-left h3{
	font-size: 24px;
	color: #333;
	line-height: 58px;
}
.shouji-top-right{
	float: right;
	margin-top: 20px;
	transition: all 0.5s;
	cursor: pointer;
}
.shouji-top-right:hover{
	color: #ff6700;
	padding-bottom: 5px;
}
.shouji-bottom{
	width: 100%;
	height: calc(686px - 58px);
}
.shouji-bottom .left{
	width: 234px;
	height:614px;
	float: left;
	transition: all 0.5s;
}
.shouji-bottom .left:hover{
	transform:translate(0,-2px);
	box-shadow:0 5px 30px 2px rgba(0,0,0,0.1);
}
.shouji-bottom .left img{
	width: 234px;
	height: 614px;
}
.shouji-bottom .right{
	width:992px;
	height: 628px;
	float: left;
}
.shouji-bottom .right>ul>li{
	width: 234px;
	height: 300px;
	float: left;
	background: white;
	margin-left: 14px;
	margin-bottom: 14px;
	position: relative;
	transition: all 0.5s;
}
.shouji-bottom .right>ul>li:hover{
	transform:translate(0,-2px);
	box-shadow:0 5px 30px 2px rgba(0,0,0,0.1);
}
.shouji-bottom .right .item{
	width: 234px;
	height: 300px;
	float: left;
}
.shouji-bottom .right>ul>li img{
	width: 150px;
	height: 150px;
	margin: 34px 42px 18px 42px;
}
.shouji-bottom .right .xinxi{
	font-size: 14px;
	color: #000;
	text-align: center;
}
.shouji-bottom .right .jieshao{
	font-size: 12px;
	color: rgba(0,0,0,0.5);
	text-align: center;
}
.shouji-bottom .right .jiaqian{
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.shouji-bottom .right .jiaqian span{
	color:#ff6700;
	margin-right: 2px;
}
.shouji-bottom .right .jiaqian del{
	color:#b0b0b0;
}
.jiang{
	width: 66px;
	height: 20px;
	background: #e53935;
	position: absolute;
	text-align: center;
	font-size: 12px;
	color: #fff;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.xinpin{
	width: 66px;
	height: 20px;
	background: #83c44e;
	position: absolute;
	text-align: center;
	font-size: 12px;
	color: #fff;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

/* 手机结束 */
/* 广告开始 */
.guanggao{
	width: 1226px;
	height: 120px;
	background: red;
	margin: 0 auto;
	margin-bottom: 30px;
}
.guanggao img{
	width: 1226px;
	height: 120px;
}
/* 广告结束 */
/* 家电开始 */
.jiadian{
	width: 1226px;
	height: 686px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.jiadian-top{
	width: 100%;
	height: 58px;
}
.jiadian-top-left{
	width: 100px;
	height: 58px;
	float: left;
}
.jiadian-top-left h3{
	font-size: 24px;
	color: #333;
	line-height: 58px;
}
.jiadian-top-right{
	height: 58px;
	float: right;
}
.jiadian-top-right li{
	float: left;
	margin: 18px auto;
	margin-top: 20px;
	margin-left: 30px;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.5s;
}
.jiadian-top-right li:hover{
	color: red;
	padding-bottom: 5px;
	border-bottom: 2px solid red;
}
.jiadian-top-right .xz{
	color: red;
	padding-bottom: 5px;
	border-bottom: 2px solid red;
}
.jiadian-bottom{
	width: 100%;
	height: calc(686px - 58px);
}
.jiadian-bottom .left{
	width: 234px;
	height: 300px;
	float: left;
}
.jiadian-bottom .left img{
	width: 234px;
	height: 300px;
	margin-bottom: 8px;
	transition: all 0.3s;
}
.jiadian-bottom .left img:hover{
	transform:translate(0,-2px);
	box-shadow:0 5px 30px 2px rgba(0,0,0,0.1);
}
.jiadian-bottom .right{
	width:992px;
	height: 628px;
	float: left;
	position: relative;
}
.jiadian-bottom .right>ul{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.jiadian-bottom .right .xz{
	display: block;
}
.jiadian-bottom .right>ul>li{
	width: 234px;
	height: 300px;
	float: left;
	background: white;
	margin-left: 14px;
	margin-bottom: 14px;
	position: relative;
	transition: all 0.3s;
	overflow: hidden;
}
.jiadian-bottom .right>ul>li:hover{
	transform:translate(0,-2px);
	box-shadow:0 5px 30px 2px rgba(0,0,0,0.1);
}
.jiadian-bottom .right>ul>li:hover .yc-list{
	transform:translate(0,-75px);
}
.jiadian-bottom .right>ul>li .yc-list{
	width: 234px;
	height: 75px;
	background:#ff6700;
	margin-top: 28px;
	transition: all 0.5s;
}
.jiadian-bottom .right>ul>li .yc-list span{
	color:white;
	font-size: 12px; 
	line-height: 45px;
	margin:0 30px;
}
.jiadian-bottom .right>ul>li .yc-list p{
	color:rgba(255,255,255,0.6);
	font-size: 12px; 
	margin-top: 20px;
	margin:0 30px;
}
.jiadian-bottom .right .item{
	width: 234px;
	height: 300px;
	float: left;
}
.jiadian-bottom .right>ul>li img{
	width: 150px;
	height: 150px;
	margin: 34px 42px 18px 42px;
}
.jiadian-bottom .right .xinxi{
	font-size: 14px;
	color: #000;
	text-align: center;
}
.jiadian-bottom .right .jieshao{
	font-size: 12px;
	color: rgba(0,0,0,0.5);
	text-align: center;
}
.jiadian-bottom .right .jiaqian{
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
}
.jiadian-bottom .right .jiaqian span{
	color:#ff6700;
	margin-right: 2px;
}
.jiadian-bottom .right .jiaqian del{
	color:#b0b0b0;
}
.jiang{
	width: 66px;
	height: 20px;
	background: #e53935;
	position: absolute;
	text-align: center;
	font-size: 12px;
	color: #fff;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.xinpin{
	width: 66px;
	height: 20px;
	background: #83c44e;
	position: absolute;
	text-align: center;
	font-size: 12px;
	color: #fff;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.jiadian-bottom .right>ul .ba{
	width: 234px;
	height: 300px;
	float: right;
	background: #f5f5f5;
}
.jiadian-bottom .right>ul .ba .ba-top{
	width: 234px;
	height: 143px;
	background:white;
	margin-bottom: 14px;
	position: relative;
	transition: all 0.5s;
}
 .jiadian-bottom .right>ul .ba .ba-top:hover{
	transform:translate(0,-2px);
	box-shadow:0 5px 30px 2px rgba(0,0,0,0.1);
}
.jiadian-bottom .right>ul .ba .ba-top img{
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0px;
	right:0px;
}
.jiadian-bottom .right>ul .ba .ba-top span{
	width: 94px;
	height: 21px;
	margin: 0px 0 0 20px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float: left;
	margin-top: 40px;
	margin-left: 20px;
}
.jiadian-bottom .right>ul .ba .ba-top i{
	margin-top: 5px;
	width: 214px;
	height: 21px;
	float: left;
	margin-left: 20px;
	font-size: 12px;
    color: #ff6700;
}
.jiadian-bottom .right>ul .ba .ba-bottom{
	width: 234px;
	height: 143px;
	background: white;
	transition: all 0.5s;
	position: relative;
}
.jiadian-bottom .right>ul .ba .ba-bottom .ic{
	font-size: 48px;
	color: #ff6700;
	position: absolute;
	top: 40px;
	right: 35px;
}
.jiadian-bottom .right>ul .ba .ba-bottom span{
	width: 80px;
	height: 45px;
	margin: 0px 0 0 20px;
	font-size: 18px;
	float: left;
	margin-top: 48px;
	margin-left: 20px;
	color: #000000;
}
.jiadian-bottom .right>ul .ba .ba-bottom span i{
	font-size: 12px;
	color:rgba(0,0,0,0.8) ;
}
.jiadian-bottom .right>ul .ba .ba-bottom:hover{
	transform:translate(0,-2px);
	box-shadow:0 5px 30px 2px rgba(0,0,0,0.1);
}
/* 家电结束 */
/* 为你推荐开始 */
.wntj{
	width: 1226px;
	height: 398px;
	margin: 0 auto;
}
.wntj-top{
	width: 100%;
	height: 58px;
}
.wntj-top-text{
	font-size: 22px;
	color: #333333;
	line-height: 58px;
	float: left;
}
.wntj-top-ic{
	width: 71px;
	height: 24px;
	float: right;
	margin-top: 17px;
	box-sizing: border-box;
	border: 1px solid #333333;
}
.wntj-top-ic .left{
	width: 34px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: left;
	border-right: 1px solid #333333;
	cursor: pointer;
}
.wntj-top-ic .left:hover{
	color: orange !important;
}
.wntj-top-ic .right{
	width: 34px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	float: left;
	cursor: pointer;
}
.wntj-top-ic .right:hover{
	color: orange!important;
}
.wntj-bottom{
	width: 100%;
	height:340px;
	overflow: hidden;
	position: relative;
	transition: all 0.5s;
}
.wntj-bottom>ul{
	width: calc(1226px * 3);
	height: 100%;
	text-align: center;
	transition: all 0.5s;
	position: absolute;
	top: 0;
	left: 0;
}

.wntj-bottom>ul>li{
	width: 234px;
	height: 300px;
	background: #ffffff;
	float: left;
	margin-left: 14px;
	text-align: center;
	transition: all 0.5s;
}
.wntj-bottom>ul>li:hover{
	transform:translate(0,-2px);
	box-shadow:0 5px 30px 2px rgba(0,0,0,0.1);
}
.wntj-bottom>ul>li img{
	width: 140px;
	height: 140px;
	margin-top: 30px;
}
.wntj-bottom  .tu1-text{
	font-size: 18px;
	margin:10px 15px 0 15px;
	overflow: hidden;
	text-overflow:ellipsis ;
	white-space: nowrap;
}
.wntj-bottom .tu1-yuan{
	color: red;
	margin: 10px 15px 0 15px;
}	
.wntj-bottom .A{
	margin-left: 0;
}
/* 为你推荐结束 */
/* 热评产品开始 */
.repin{
	width: 1226px;
	height: 398px;
	margin: 0 auto;
	margin-bottom: 100px;
}
.repin-top{
	width: 100%;
	height: 58px;
}
.repin-top-text{
	font-size: 22px;
	color: #333333;
	line-height: 58px;
	float: left;
}
.repin-bottom{
	width: 1226px;
	height:415px;
}
.repin-bottom>ul>li{
	width: 296px;
	height:415px;
	float: left;
	margin-left: 14px;
	background: white;
	transition: all 0.5s;
}
.repin-bottom>ul>li:hover{
	transform:translate(0,-2px);
	box-shadow:0 5px 30px 2px rgba(0,0,0,0.2);
}
.repin-bottom .B{
	margin-left: 0;
}
.repin-bottom>ul>li img{
	width: 296px;
	height: 220px;
}
.repin-bottom  .tu1-text{
	font-size: 14px;
	margin:24px 25px 0 25px;
	color: #333333;
}
.repin-bottom  .tu1-text1{
	font-size: 14px;
	margin:30px 25px 0 25px;
	color: #B0B0B0;
}
.repin-bottom  .tu1-text2{
	font-size: 14px;
	margin:10px 100px 0 25px;
	/* overflow: hidden; */
	text-overflow:ellipsis ;
	white-space: nowrap;
	margin: left;
}
.repin-bottom .tu1-text2 i{
	font-size: 14px;
	color: #B0B0B0;
	margin: left;
}
.repin-bottom .tu1-text2 span{
	font-size: 14px;
	color: red;
	margin: left;
}
/* 热评产品结束 */
/* 内容开始 */
.neirong{
	width: 1226px;
	height: 478px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.neirong-top{
	width: 100%;
	height: 58px;
}
.neirong-top-text{
	font-size: 22px;
	color: #333333;
	line-height: 58px;
	float: left;
}
.neirong-bottom{
	width: 1226px;
	height:420px;
	display: flex;
	justify-content: space-between;
}
.neirong-bottom>ul{
	width: 296px;
	height:420px;
}
.neirong-bottom>ul>li{
	width: 296px;
	height:420px;
	float: left;
	margin-left: 14px;
	background: white;
	transition: all 0.5s;
	position:relative ;
}
.neirong-bottom>ul>li:hover{
	transform:translate(0,-2px);
	box-shadow:0 5px 30px 2px rgba(0,0,0,0.2);
	display: block;
}
.neirong-bottom .B{
	margin-left: 14px;
}
.neirong-bottom .yi{
	margin-left: 0;
}
.neirong-bottom .tu1-text1{
	font-size: 16px;
	margin:50px 25px 0 25px;
	color:#ffac13;
	text-align: center;
}
.zhongjian{
	width: 100%;
	height: 290px;
	overflow: hidden;
	position: relative;
}
.neirong-bottom .bigBoxa{
	width: 400%;
	height: 290px;
	position:absolute;
	display: flex;	
	left: 0;
	transition: all 0.5s;
}
.neirong-bottom .zhongjian ul{
	width: 296px;
	height: 100%;
}
.neirong-bottom .zhongjian .tu1-text{
	font-size: 20px;
	margin:15px 30px 0 30px;
	color: #333333;
}
.neirong-bottom .zhongjian .tu1-text2{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	margin:10px 40px;
	margin: left;
}
.neirong-bottom .zhongjian  .tu1-text3{
	font-size: 12px;
	color:#333333;
	text-align: center;
	margin:14px 40px;
	margin: left;
}
.neirong-bottom>ul>li .zhongjian img{
	width: 214px;
	height: 156px;
	margin: 0 40px;
}
.neirong-bottom .icz{
	font-size: 30px;
	color: rgba(0,0,0,0.4);
	display: none;
	cursor: pointer;
	position: absolute;
	left: -6px;
	top: 191px;
}
.neirong-bottom>ul>li:hover .icz{
	display: block;
}
.neirong-bottom .icy{
	font-size: 30px;
	color: rgba(0,0,0,0.4);
	display: none;
	cursor: pointer;
	position: absolute;
	right: -6px;
	top: 191px;
}
.neirong-bottom>ul>li:hover .icy{
	display: block;
}
.neirong-dian-box{
	width: 200px;
	height: 10px;
	position: absolute;
	right: 0;
	bottom: 30px;
}
.neirong-dian-box>div{
	/* float: right; */
	margin-right: 100px;
}
.neirong-dian-box>div i{
	width:10px;
	height: 10px;
	background: rgba(0,0,0,0.3);
	float: left;
	margin-left: 10px;
	border-radius:50%;
	border: 2px solid rgba(255,255,255,0.2);
	box-sizing: border-box;
	cursor: pointer;
}
.neirong-dian-box>div .xz{
	background: rgba(0,0,0,0.2);
	border: 2px solid #FF6700;
	cursor: pointer;
}
.neirong-dian-box>div i:hover{
	background: rgba(0,0,0,0.2);
	border: 2px solid orange;
}
/* 内容结束 */
/* 视频开始 */
.shipin{
	width: 1226px;
	height: 400px;
	margin: 0 auto;
}
.shipin-top{
	width: 100%;
	height: 58px;
}
.shipin-top-text{
	font-size: 22px;
	color: #333333;
	line-height: 58px;
	float: left;
}
.shipin-top-right{
	float: right;
	margin-top: 20px;
	transition: all 0.5s;
	cursor: pointer;
}
.shipin-top-right:hover{
	color: #ff6700;
	padding-bottom: 5px;
}
.shipin-bottom{
	width: 1226px;
	height:285px;
}
.shipin-bottom>ul>li{
	width: 296px;
	height:285px;
	float: left;
	margin-left: 14px;
	background: white;
	transition: all 0.5s;
}
.shipin-bottom>ul>li:hover{
	transform:translate(0,-2px);
	box-shadow:0 5px 30px 2px rgba(0,0,0,0.2);
}
.shipin-bottom .B{
	margin-left: 0;
	position: relative;
}
.shipin-bottom>ul>li .shang{
	width: 296px;
	height: 180px;
	position: relative;

}
.shipin-bottom>ul>li .shang img{
	width: 296px;
	height: 180px;
	cursor: pointer;
	position: relative;
}
.shipin-bottom>ul>li .shang:hover.shang i{
	color: orange;
}
.shipin-bottom>ul>li .shang i:hover{
	color: orange;
}
.shipin-bottom>ul>li .shang i{
	font-size: 40px;
	color: white;
	position: absolute;
	top:130px;
	left: 20px;
	cursor: pointer;
}
.shipin-bottom  .tu1-text{
	font-size: 14px;
	margin-top:24px ;
	text-align: center;
	color: #333333;
}
.shipin-bottom  .tu1-text:hover{
	color: orange;
}
.shipin-bottom  .tu1-text1{
	font-size: 12px;
	margin-top:10px;
	text-align: center;
	color: #B0B0B0;
}
.shipin-bottom  .tu1-text2{
	font-size: 14px;
	margin:10px 100px 0 25px;
	/* overflow: hidden; */
	text-overflow:ellipsis ;
	white-space: nowrap;
	margin: left;
}
.shipin-bottom .tu1-text2 i{
	font-size: 14px;
	color: #B0B0B0;
	margin: left;
}
.shipin-bottom .tu1-text2 span{
	font-size: 14px;
	color: red;
	margin: left;
}
/* 服务开始 */
.fuwu{
	width: 1226px;
	height: 275px;
	margin: 0 auto;
}
.fuwu-top{
	width: 100%;
	height: 80px;
	position: relative;
}
.fuwu-top .fuwu1{
	width: 244.4px;
	height: 79px;
	line-height: 79px;
	font-size: 16px;
	text-align: center;
	float: left;
	position: relative;

}
.fuwu-top .fuwu1 span:hover{
	color: orange;
}
.fuwu-top>ul>li i{
	height: 80px;
	margin-left: 28px;
	position: absolute;
	top: 0px;
	right: 0;
}
.fuwu-top>ul>li .line{
	width: 1226px;
	border: 1px solid rgba(0,0,0,0.2);
	position: absolute;
	top: 80px;
	left: 0;
}
.fuwu-bottom{
	width: 100%;
	height: 194px;
	margin-bottom: 100px;
}
.fuwu-bottom-zuo{
	width: 976px;
	height: 100%;
	float: left;
	position: relative;
}
.fuwu-bottom-zuo .top{
	width: 976px;
	height: 50px;
}
.fuwu-bottom-zuo .top .top-text{
	width: 162.666px;
	height:100% ;
	line-height: 70px;
	text-align: center;
	float: left;
	font-size: 14px;
}

.fuwu-bottom-zuo .bottom{
	width: 100%;
	height: 124px;
}
.fuwu-bottom-zuo .bottom .bottom-text1{
	width: 162.666px;
	height:25px ;
	line-height: 70px;
	text-align: center;
	float: left;
	font-size: 12px;

}
.fuwu-bottom-zuo .bottom i{
	width:1px ;
	height: 100px;
	background: rgba(0,0,0,0.2);
	position: absolute;
	top: 40px;
	right: 0;
}
.fuwu-bottom-you{
	width: 250px;
	height: 100%;
	float: right;
}
.fuwu-bottom-you .text{
	font-size: 22px;
	color: #ff6700;
	text-align: center;
	margin-top: 18px;
}
.fuwu-bottom-you .text1{
	font-size: 12px;
	color: #616161;
	text-align: center;
	margin-top: 3px;
}
.fuwu-bottom-you .text2{
	font-size: 12px;
	color: #616161;
	text-align: center;
	margin-top: 3px;
}
.fuwu-bottom-you .text3 .hz-text{
	width: 120px;
	height: 30px;
	border:1px solid #ff6700;
	background: #fff;
	margin-left: 65px;
	margin-top: 20px;
	color:#ff6700;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}
/* 服务结束 */
.fuwu{
	width: 1226px;
	height: 275px;
	margin: 0 auto;
}
.fuwu-top{
	width: 100%;
	height: 80px;
	position: relative;
}
.fuwu-top .fuwu1{
	width: 244.4px;
	height: 79px;
	line-height: 79px;
	font-size: 16px;
	text-align: center;
	float: left;
	position: relative;

}
.fuwu-top .fuwu1 span:hover{
	color: orange;
	cursor: pointer;
}
.fuwu-top>ul>li i{
	height: 80px;
	margin-left: 28px;
	position: absolute;
	top: 0px;
	right: 0;
}
.fuwu-top>ul>li .line{
	width: 1226px;
	border: 1px solid rgba(0,0,0,0.2);
	position: absolute;
	top: 80px;
	left: 0;
}
.fuwu-bottom{
	width: 100%;
	height: 194px;
	margin-bottom: 100px;
}
.fuwu-bottom-zuo{
	width: 976px;
	height: 100%;
	float: left;
	position: relative;
}
.fuwu-bottom-zuo .top{
	width: 976px;
	height: 50px;
}
.fuwu-bottom-zuo .top .top-text{
	width: 162.666px;
	height:100% ;
	line-height: 70px;
	text-align: center;
	float: left;
	font-size: 14px;
}

.fuwu-bottom-zuo .bottom{
	width: 100%;
	height: 124px;
}
.fuwu-bottom-zuo .bottom .bottom-text1{
	width: 162.666px;
	height:25px ;
	line-height: 25px;
	text-align: center;
	float: left;
	margin-top: 8px;
	font-size: 12px;
}
.fuwu-bottom-zuo .bottom .bottom-text1:hover{
	color: #FF6700;
	cursor: pointer;
}
.fuwu-bottom-zuo .bottom i{
	width:1px ;
	height: 100px;
	background: rgba(0,0,0,0.2);
	position: absolute;
	top: 40px;
	right: 0;
}
.fuwu-bottom-you{
	width: 250px;
	height: 100%;
	float: right;
}
.fuwu-bottom-you .text{
	font-size: 22px;
	color: #ff6700;
	text-align: center;
	margin-top: 18px;
}
.fuwu-bottom-you .text1{
	font-size: 12px;
	color: #616161;
	text-align: center;
	margin-top: 3px;
}
.fuwu-bottom-you .text2{
	font-size: 12px;
	color: #616161;
	text-align: center;
	margin-top: 3px;
}
.fuwu-bottom-you .text3 .hz-text{
	width: 120px;
	height: 30px;
	border:1px solid #ff6700;
	background: #fff;
	margin-left: 65px;
	margin-top: 20px;
	color:#ff6700;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
}
/* 服务结束 */
.dibubox{
	width: 1226px;
	height:120px;
	margin: 0 auto;
	background: #fafafa;
	overflow: hidden;
}
.dibubox .logo-tu{
	width: 56px;
	height: 56px;
	background:coral;
	margin-top: 31px;
	float: left;
}
.dibubox .text{
	width: 1155px;
	height: 30px;
	margin-left: 10px;
	margin-top: 20px;
	float: left;
}
.dibubox .left-text:hover{
	color:orange;
	/* cursor: pointer; */
}
.dibubox .xia{
	width: 1155px;
	height: 60px;
	margin-left: 65px;
	margin-top: 50px;
}
.dibubox .xia div{
	font-size: 12px;
}
.dibubox .wenzi2 i:hover{
	color:orange;
	cursor: pointer;
}
.dibubox .wenzi3 i:hover{
	color:orange;
	cursor: pointer;
}
.dibubox .wenzi4 i:hover{
	color:orange;
	cursor: pointer;
}
.dibubox .wenzi1 i:hover{
	color:orange;
	cursor: pointer;
}
.BJ{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.BJ img{
	float: right;
}
.BJ .hei{
	font-size: 30px;
	line-height: 100px;
	text-align: center;
}
.maodian{
	width: 40px;
	height: 40px;
	margin:10px 2px ;
	position:fixed;
	right: 0px;
	left:50%;
	transform: translateX(613px);
	bottom:0;
	display: none;
}
.maodian img{
	margin:8px 5px ;
}
.youcebox{
	width: 40px;
	height: 180px;
	position:fixed;
	transform: translateX(613px);
	right: 0;
	left:50%;
	bottom:60px;
	border: 1px solid #e0e0e0;
}
.youcebox li{
	width: 100%;
	height: 25%;
	border-bottom: 1px solid #e0e0e0;
	box-sizing: border-box;
	cursor:pointer;
}
.youcebox li i{
	font-size: 25px;
	text-align: center;
	line-height: 45px;
	margin-left: 8px;
	cursor:pointer;
}
.youcebox li i:hover{
	color: #ff6700;
	cursor:pointer;
}

/* 响应式 */
@media only screen and (min-width:1500px){
	.maodian{
		position:fixed;
		left:50%;
		transform: translateX(613px);
		bottom:20px;
		background:#fff;
		display: none;
	}
	.youcebox{
		width: 27px;
		height: 161px;
		position:fixed;
		transform: translateX(613px);
		left:50%;
		bottom:60px;
		border: 1px solid #e0e0e0;
	}
	.youcebox li{
		width: 100%;
		height: 25%;
		border-bottom: 1px solid #e0e0e0;
		box-sizing: border-box;
		cursor:pointer;
	}
	.youcebox li i{
		font-size: 12px;
		text-align: center;
		line-height: 40px;
		cursor:pointer;
	}
	.youcebox li i:hover{
		color: #ff6700;
		cursor:pointer;
	}
}
@media only screen and (max-width:1300px){
	.maodian{
		position:fixed;
		left:50%;
		/* transform: translateX(613px); */
		bottom:20px;
		background:#fff;
		display: none;
	}
	.youcebox{
		width: 50px;
		height: 200px;
		position:fixed;
		/* transform: translateX(613px); */
		left:50%;
		bottom:60px;
		border: 1px solid #e0e0e0;
	}
	.youcebox li{
		width: 100%;
		height: 25%;
		border-bottom: 1px solid #e0e0e0;
		box-sizing: border-box;
		cursor:pointer;
	}
	.youcebox li i{
		font-size: 25px;
		text-align: center;
		line-height: 40px;
		cursor:pointer;
	}
	.youcebox li i:hover{
		color: #ff6700;
		cursor:pointer;
	}
}	


